#chat-message{
    width: 80%;

    margin-top: 20px;

    border-radius: 10px;
}

#message-header{
    height: 30px;
    justify-content: space-evenly;
    font-family: sans-serif;
    text-align: center;
}
#message-header p{
    font-size: 15px;
    font-weight: bold;
}
#message-delete{
    width: 70px;
    height: 17px;
    text-align: center;
    color: white;
    background-color: #FF4444;
    border: 2px solid red;
    border-radius: 10px;
}
#message-delete:hover{
    cursor: pointer;
    background-color: red;
}
#message-edit{
    width: 70px;
    height: 17px;
    text-align: center;
    color: white;
    background-color: #44FF44;
    border: 2px solid green;
    border-radius: 10px;
}
#message-edit:hover{
    cursor: pointer;
    background-color: green;
}

#chat-message textarea{
    width: 95%;
    height: fit-content;
    margin-bottom: 10px;
    padding-left: 10px;

    background-color: white;

    word-wrap: break-word;
    overflow: hidden;
    border: none;
    border-radius: 10px;
}

#message-save-edit{
    width: 100px;
    height: 20px;
    margin-bottom: 10px;
    margin-right: 5px;
    font-family: sans-serif;
    background-color: white;
    border: 2px solid #888;
    border-radius: 10px;
}
#message-save-edit:hover{
    cursor: pointer;
    background-color: #AAAAAA;
}
