#chat-message{
    width: 80%;

    margin-top: 20px;

    background-color: #E2E2E2;
    border-radius: 10px;
}

#message-header{
    height: 30px;
    justify-content: space-evenly;
    font-family: sans-serif;
    text-align: center;
}
#message-header p{
    font-size: 15px;
    font-weight: bold;
}
#message-header div{
    width: 70px;
    height: 17px;
    text-align: center;
    color: white;
    background-color: #FF4444;
    border: 2px solid red;
    border-radius: 10px;
}
#message-header div:hover{
    cursor: pointer;
    background-color: red;
}

#message-content{
    width: 95%;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;
    word-wrap: break-word;
}

#message-content p{
    padding-left: 10px;
}

